name: Do release stuff

on:
  pull_request:
    branches:
      - master
    types: [closed]

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set pom version to release
        id: pom
        run: |
          mvn -B versions:set -DnewVersion=${{github.event.pull_request.title}}
          echo "JAR=$(mvn git-commit-id:revision -q -Dexec.executable=echo -Dexec.args="\${project.build.finalName}" --non-recursive exec:exec).jar >> $GITHUB_ENV"
          echo "VERSION=$(mvn -q -Dexec.executable="echo" -Dexec.args='${project.version}' --non-recursive exec:exec) >> $GITHUB_ENV"
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub"
          git commit -m "Release ${{github.event.pull_request.title}}" -a
      - name: Push to main
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
      - name: Publish Release
        id: upload_assets
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/tcgui-${{github.event.pull_request.title}}.jar
          asset_name: tcgui-${{github.event.pull_request.title}}.jar
          tag: v${{ github.event.pull_request.title }}
          overwrite: true
          body: ${{github.event.pull_request.body}}
          release_name: Version ${{github.event.pull_request.title}}